#a1 {
    width: 1000px;
    height: 2000px;
    border: 4px solid red;
}

#a2 {
    width: 500px;
    height: 200px;
    border: 4px solid chocolate;
    position: fixed;
}

#a3 {
    width: 500px;
    height: 200px;
    border: 4px solid orange;
    position: fixed;
    bottom: 0;
}

#a4 {
    width: 800px;
    height: 800px;
    border: 4px solid cornflowerblue;
    position: relative;
    top: 200px;
}

#a5 {
    width: 500px;
    height: 300px;
    border: 4px solid blueviolet;
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#a6 {
    width: 100px;
    height: 70px;
    border: 4px solid yellow;
    position: absolute;
    inset: 0;
    margin: auto;
}

@media only screen and (max-width: 780px) {
    #a1 {
        width: 500px;
    }
    #a2 {
        width: 250px;
    }
    #a3 {
        width: 250px;
    }
    #a4 {
        width: 400px;
    }
    #a5 {
        width: 250px;
    }
}