.modal-dialog {
    max-width: 400px;
}

.input-group-text {
    padding-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #0d6efd;
}

.input-group:focus-within .input-group-text {
    border-color: #0d6efd;
}

#loginSubmitBtn:hover:not(:disabled) {
    background-color: #009f5e !important;
    border-color: #009f5e !important;
}

#loginSubmitBtn:disabled {
    opacity: 0.7;
}

.form-control::placeholder {
    color: #adb5bd;
}